<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZAY6za0R2Qf4aR3VSqsfBZKv2J5Py9uA</string>
	<key>GCM_SENDER_ID</key>
	<string>721293327558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lokallyapp.passageiro</string>
	<key>PROJECT_ID</key>
	<string>forward-chess-455110-f1</string>
	<key>STORAGE_BUCKET</key>
	<string>forward-chess-455110-f1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721293327558:ios:0081d76c5ba5c26a9e6bc7</string>
</dict>
</plist>